.zed
.DS_Store
.ipynb_checkpoints
all-samples
*.ly
*.wav
venv
SandBox.ipynb
__pycache__
.ipynb_checkpoint
pyrightconfig.json
rec_unlimited.py
.coverage
coverage_html
output
*.ipynb
pyproject.toml
Test/coverage_html
Validation/maestro*
Validation/nsynth*
Notes/.obsidian
