build
mir.egg-info
dist
.zed
.DS_Store
.ipynb_checkpoints
all-samples
*.ly
venv
SandBox.ipynb
__pycache__
.ipynb_checkpoint
pyrightconfig.json
.coverage
coverage_html
output
*.ipynb
pyproject.toml
Test/coverage_html
mir/Validation/maestro*
mir/Validation/nsynth*
*.zip
Notes/.obsidian
.Mono_explication.md
separated/*/*
